.version.index /* version checker */ {
  color: #0000fb;
  background-color: #f01360;
}

.html {
  background-color: #b2c4cc;
}

#page {
  z-index: 1;
  width: 980px;
  min-height: 1117px;
  padding-bottom: 62px;
  margin-left: auto;
  margin-right: auto;
}

#pu630 {
  width: 0.01px;
  margin-right: -10000px;
  margin-top: 171px;
}

#u630 {
  z-index: 2;
  width: 303px;
  position: relative;
}

#u344 {
  z-index: 3;
  width: 303px;
  border-color: #000000;
  background-color: #ffffff;
  -moz-border-radius: 50px 50px 0px 0px;
  -webkit-border-radius: 50px 50px 0px 0px;
  -khtml-border-radius: 50px 50px 0px 0px;
  border-radius: 50px 50px 0px 0px;
  padding-bottom: 0px;
  position: relative;
}

#u348 {
  z-index: 4;
  width: 193px;
  border-width: 7px;
  border-style: solid;
  border-color: #ffffff;
  background-color: #b3c4cc;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  -khtml-border-radius: 150px;
  border-radius: 150px;
  padding-bottom: 7px;
  margin-left: 48px;
  position: relative;
}

#u96 {
  z-index: 18;
  width: 180px;
  border-style: none;
  border-color: transparent;
  background-color: transparent;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -khtml-border-radius: 100px;
  border-radius: 100px;
  position: relative;
  margin-right: -10000px;
  margin-top: 6px;
  left: 7px;
}

#u132-4 {
  z-index: 20;
  width: 305px;
  min-height: 37px;
  line-height: 36px;
  margin-top: 21px;
  position: relative;
}

#u133-4 {
  z-index: 24;
  width: 305px;
  min-height: 18px;
  line-height: 13px;
  margin-top: 4px;
  position: relative;
}

#u380-4 {
  z-index: 5;
  width: 222px;
  min-height: 88px;
  color: #4c4c4c;
  margin-left: 40px;
  margin-top: 24px;
  position: relative;
}

#u382 {
  z-index: 9;
  width: 303px;
  border-color: #000000;
  background-color: #eaebea;
  -moz-border-radius: 0px 0px 20px 20px;
  -webkit-border-radius: 0px 0px 20px 20px;
  -khtml-border-radius: 0px 0px 20px 20px;
  border-radius: 0px 0px 20px 20px;
  padding-bottom: 22px;
  position: relative;
}

#u408 {
  z-index: 16;
  width: 35px;
  position: relative;
  margin-right: -10000px;
  margin-top: 19px;
  left: 31px;
}

#u404 {
  z-index: 18;
  width: 35px;
  position: relative;
  margin-right: -10000px;
  margin-top: 19px;
  left: 90px;
}

#u403 {
  z-index: 14;
  width: 35px;
  position: relative;
  margin-right: -10000px;
  margin-top: 19px;
  left: 140px;
}

#u398 {
  z-index: 12;
  width: 35px;
  position: relative;
  margin-right: -10000px;
  margin-top: 19px;
  left: 190px;
}

#u392 {
  z-index: 10;
  width: 35px;
  position: relative;
  margin-right: -10000px;
  margin-top: 19px;
  left: 243px;
}

#u635 {
  z-index: 54;
  width: 303px;
  margin-top: 134px;
  position: relative;
}

#u581 {
  z-index: 55;
  width: 303px;
  border-color: #000000;
  background-color: #ffffff;
  -moz-border-radius: 50px 50px 0px 0px;
  -webkit-border-radius: 50px 50px 0px 0px;
  -khtml-border-radius: 50px 50px 0px 0px;
  border-radius: 50px 50px 0px 0px;
  padding-bottom: 0px;
  position: relative;
}

#u628 {
  z-index: 56;
  width: 193px;
  border-width: 7px;
  border-style: solid;
  border-color: #ffffff;
  background-color: #b3c4cc;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  -khtml-border-radius: 150px;
  border-radius: 150px;
  padding-bottom: 7px;
  margin-left: 48px;
  position: relative;
}

#u102 {
  z-index: 78;
  width: 180px;
  border-style: none;
  border-color: transparent;
  background-color: transparent;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -khtml-border-radius: 100px;
  border-radius: 100px;
  position: relative;
  margin-right: -10000px;
  margin-top: 6px;
  left: 6px;
}

#u216-4 {
  z-index: 70;
  width: 305px;
  min-height: 37px;
  line-height: 36px;
  margin-top: 20px;
  position: relative;
}

#u215-4 {
  z-index: 74;
  width: 305px;
  min-height: 18px;
  line-height: 13px;
  margin-top: 5px;
  position: relative;
}

#u582-4 {
  z-index: 57;
  width: 222px;
  min-height: 88px;
  color: #4c4c4c;
  margin-left: 40px;
  margin-top: 24px;
  position: relative;
}

#u583 {
  z-index: 61;
  width: 303px;
  border-color: #000000;
  background-color: #eaebea;
  -moz-border-radius: 0px 0px 20px 20px;
  -webkit-border-radius: 0px 0px 20px 20px;
  -khtml-border-radius: 0px 0px 20px 20px;
  border-radius: 0px 0px 20px 20px;
  padding-bottom: 22px;
  position: relative;
}

#u587 {
  z-index: 68;
  width: 35px;
  position: relative;
  margin-right: -10000px;
  margin-top: 19px;
  left: 31px;
}

#u599 {
  z-index: 66;
  width: 35px;
  position: relative;
  margin-right: -10000px;
  margin-top: 19px;
  left: 140px;
}

#u596 {
  z-index: 64;
  width: 35px;
  position: relative;
  margin-right: -10000px;
  margin-top: 19px;
  left: 190px;
}

#u593 {
  z-index: 62;
  width: 35px;
  position: relative;
  margin-right: -10000px;
  margin-top: 19px;
  left: 243px;
}

#pu631 {
  width: 0.01px;
  margin-right: -10000px;
  margin-top: 171px;
  margin-left: 338px;
}

#u631 {
  z-index: 80;
  width: 303px;
  position: relative;
}

#u514 {
  z-index: 81;
  width: 303px;
  border-color: #000000;
  background-color: #ffffff;
  -moz-border-radius: 50px 50px 0px 0px;
  -webkit-border-radius: 50px 50px 0px 0px;
  -khtml-border-radius: 50px 50px 0px 0px;
  border-radius: 50px 50px 0px 0px;
  padding-bottom: 0px;
  position: relative;
}

#u515 {
  z-index: 82;
  width: 193px;
  border-width: 7px;
  border-style: solid;
  border-color: #ffffff;
  background-color: #b3c4cc;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  -khtml-border-radius: 150px;
  border-radius: 150px;
  padding-bottom: 7px;
  margin-left: 48px;
  position: relative;
}

#u122 {
  z-index: 96;
  width: 180px;
  border-style: none;
  border-color: transparent;
  background-color: transparent;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -khtml-border-radius: 100px;
  border-radius: 100px;
  position: relative;
  margin-right: -10000px;
  margin-top: 6px;
  left: 7px;
}

#u172-4 {
  z-index: 98;
  width: 305px;
  min-height: 37px;
  background-color: transparent;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  -khtml-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  line-height: 36px;
  left: -1px;
  margin-top: 21px;
  position: relative;
}

#u170-4 {
  z-index: 102;
  width: 305px;
  min-height: 18px;
  line-height: 13px;
  left: -1px;
  margin-top: 4px;
  position: relative;
}

#u516-4 {
  z-index: 83;
  width: 222px;
  min-height: 88px;
  color: #4c4c4c;
  margin-left: 40px;
  margin-top: 24px;
  position: relative;
}

#u517 {
  z-index: 87;
  width: 303px;
  border-color: #000000;
  background-color: #eaebea;
  -moz-border-radius: 0px 0px 20px 20px;
  -webkit-border-radius: 0px 0px 20px 20px;
  -khtml-border-radius: 0px 0px 20px 20px;
  border-radius: 0px 0px 20px 20px;
  padding-bottom: 22px;
  position: relative;
}

#u524 {
  z-index: 94;
  width: 35px;
  position: relative;
  margin-right: -10000px;
  margin-top: 19px;
  left: 31px;
}

#u527 {
  z-index: 92;
  width: 35px;
  position: relative;
  margin-right: -10000px;
  margin-top: 19px;
  left: 140px;
}

#u518 {
  z-index: 90;
  width: 35px;
  position: relative;
  margin-right: -10000px;
  margin-top: 19px;
  left: 190px;
}

#u521 {
  z-index: 88;
  width: 35px;
  position: relative;
  margin-right: -10000px;
  margin-top: 19px;
  left: 243px;
}

#u634 {
  z-index: 132;
  width: 303px;
  margin-top: 134px;
  position: relative;
}

#u585 {
  z-index: 133;
  width: 303px;
  border-color: #000000;
  background-color: #ffffff;
  -moz-border-radius: 50px 50px 0px 0px;
  -webkit-border-radius: 50px 50px 0px 0px;
  -khtml-border-radius: 50px 50px 0px 0px;
  border-radius: 50px 50px 0px 0px;
  padding-bottom: 0px;
  position: relative;
}

#u627 {
  z-index: 134;
  width: 193px;
  border-width: 7px;
  border-style: solid;
  border-color: #ffffff;
  background-color: #b3c4cc;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  -khtml-border-radius: 150px;
  border-radius: 150px;
  padding-bottom: 7px;
  margin-left: 48px;
  position: relative;
}

#u107 {
  z-index: 148;
  width: 180px;
  border-style: none;
  border-color: transparent;
  background-color: transparent;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -khtml-border-radius: 100px;
  border-radius: 100px;
  position: relative;
  margin-right: -10000px;
  margin-top: 6px;
  left: 6px;
}

#u319-4 {
  z-index: 150;
  width: 305px;
  min-height: 37px;
  line-height: 36px;
  left: -1px;
  margin-top: 20px;
  position: relative;
}

#u318-4 {
  z-index: 154;
  width: 305px;
  min-height: 18px;
  line-height: 13px;
  left: -1px;
  margin-top: 5px;
  position: relative;
}

#u586-4 {
  z-index: 135;
  width: 222px;
  min-height: 88px;
  color: #4c4c4c;
  margin-left: 40px;
  margin-top: 24px;
  position: relative;
}

#u584 {
  z-index: 139;
  width: 303px;
  border-color: #000000;
  background-color: #eaebea;
  -moz-border-radius: 0px 0px 20px 20px;
  -webkit-border-radius: 0px 0px 20px 20px;
  -khtml-border-radius: 0px 0px 20px 20px;
  border-radius: 0px 0px 20px 20px;
  padding-bottom: 22px;
  position: relative;
}

#u590 {
  z-index: 146;
  width: 35px;
  position: relative;
  margin-right: -10000px;
  margin-top: 19px;
  left: 31px;
}

#u602 {
  z-index: 144;
  width: 35px;
  position: relative;
  margin-right: -10000px;
  margin-top: 19px;
  left: 140px;
}

#u605 {
  z-index: 142;
  width: 35px;
  position: relative;
  margin-right: -10000px;
  margin-top: 19px;
  left: 190px;
}

#u608 {
  z-index: 140;
  width: 35px;
  position: relative;
  margin-right: -10000px;
  margin-top: 19px;
  left: 243px;
}

#pu632 {
  width: 0.01px;
  margin-right: -10000px;
  margin-top: 171px;
  margin-left: 677px;
}

#u632 {
  z-index: 28;
  width: 303px;
  position: relative;
}

#u477 {
  z-index: 29;
  width: 303px;
  border-color: #000000;
  background-color: #ffffff;
  -moz-border-radius: 50px 50px 0px 0px;
  -webkit-border-radius: 50px 50px 0px 0px;
  -khtml-border-radius: 50px 50px 0px 0px;
  border-radius: 50px 50px 0px 0px;
  padding-bottom: 0px;
  position: relative;
}

#u476 {
  z-index: 30;
  width: 193px;
  border-width: 7px;
  border-style: solid;
  border-color: #ffffff;
  background-color: #b3c4cc;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  -khtml-border-radius: 150px;
  border-radius: 150px;
  padding-bottom: 7px;
  margin-left: 48px;
  position: relative;
}

#u112 {
  z-index: 44;
  width: 180px;
  border-style: none;
  border-color: transparent;
  background-color: transparent;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -khtml-border-radius: 100px;
  border-radius: 100px;
  position: relative;
  margin-right: -10000px;
  margin-top: 6px;
  left: 7px;
}

#u156-4 {
  z-index: 46;
  width: 303px;
  min-height: 37px;
  line-height: 36px;
  margin-top: 21px;
  position: relative;
}

#u154-4 {
  z-index: 50;
  width: 305px;
  min-height: 18px;
  line-height: 13px;
  left: -2px;
  margin-top: 4px;
  position: relative;
}

#u480-4 {
  z-index: 31;
  width: 222px;
  min-height: 88px;
  color: #4c4c4c;
  margin-left: 40px;
  margin-top: 24px;
  position: relative;
}

#u481 {
  z-index: 35;
  width: 303px;
  border-color: #000000;
  background-color: #eaebea;
  -moz-border-radius: 0px 0px 20px 20px;
  -webkit-border-radius: 0px 0px 20px 20px;
  -khtml-border-radius: 0px 0px 20px 20px;
  border-radius: 0px 0px 20px 20px;
  padding-bottom: 22px;
  position: relative;
}

#u482 {
  z-index: 42;
  width: 35px;
  position: relative;
  margin-right: -10000px;
  margin-top: 19px;
  left: 31px;
}

#u488 {
  z-index: 40;
  width: 35px;
  position: relative;
  margin-right: -10000px;
  margin-top: 19px;
  left: 140px;
}

#u485 {
  z-index: 38;
  width: 35px;
  position: relative;
  margin-right: -10000px;
  margin-top: 19px;
  left: 190px;
}

#u491 {
  z-index: 36;
  width: 35px;
  position: relative;
  margin-right: -10000px;
  margin-top: 19px;
  left: 243px;
}

#u633 {
  z-index: 106;
  width: 303px;
  margin-top: 134px;
  position: relative;
}

#u612 {
  z-index: 107;
  width: 303px;
  border-color: #000000;
  background-color: #ffffff;
  -moz-border-radius: 50px 50px 0px 0px;
  -webkit-border-radius: 50px 50px 0px 0px;
  -khtml-border-radius: 50px 50px 0px 0px;
  border-radius: 50px 50px 0px 0px;
  padding-bottom: 0px;
  position: relative;
}

#u344_position_content,
#u581_position_content,
#u514_position_content,
#u585_position_content,
#u477_position_content,
#u612_position_content {
  margin-top: -103px;
  padding-bottom: 34px;
}

#u626 {
  z-index: 108;
  width: 193px;
  border-width: 7px;
  border-style: solid;
  border-color: #ffffff;
  background-color: #b3c4cc;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  -khtml-border-radius: 150px;
  border-radius: 150px;
  padding-bottom: 6px;
  margin-left: 48px;
  position: relative;
}

#u117 {
  z-index: 122;
  width: 180px;
  border-style: none;
  border-color: transparent;
  background-color: transparent;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -khtml-border-radius: 100px;
  border-radius: 100px;
  position: relative;
  margin-right: -10000px;
  margin-top: 7px;
  left: 7px;
}

#u96 .clip_frame,
#u102 .clip_frame,
#u122 .clip_frame,
#u107 .clip_frame,
#u112 .clip_frame,
#u117 .clip_frame {
  -webkit-border-radius: 100px 100px 100px 100px;
}

#u230-4 {
  z-index: 124;
  width: 303px;
  min-height: 37px;
  line-height: 36px;
  margin-top: 20px;
  position: relative;
}

#u232-4 {
  z-index: 128;
  width: 305px;
  min-height: 18px;
  line-height: 13px;
  left: -2px;
  margin-top: 5px;
  position: relative;
}

#u616-4 {
  z-index: 109;
  width: 222px;
  min-height: 88px;
  color: #4c4c4c;
  margin-left: 40px;
  margin-top: 24px;
  position: relative;
}

#u611 {
  z-index: 113;
  width: 303px;
  border-color: #000000;
  background-color: #eaebea;
  -moz-border-radius: 0px 0px 20px 20px;
  -webkit-border-radius: 0px 0px 20px 20px;
  -khtml-border-radius: 0px 0px 20px 20px;
  border-radius: 0px 0px 20px 20px;
  padding-bottom: 22px;
  position: relative;
}

#u382:hover,
#u583:hover,
#u517:hover,
#u584:hover,
#u481:hover,
#u611:hover {
  background-color: #a9a9a560;
  margin: 0px;
}

#u477:hover,
#u514:hover,
#u581:hover,
#u344:hover,
#u612:hover {
  background-color: #fdfdfde0;
  margin: 0px;
}

#u613 {
  z-index: 120;
  width: 35px;
  position: relative;
  margin-right: -10000px;
  margin-top: 19px;
  left: 31px;
}

#u617 {
  z-index: 118;
  width: 35px;
  position: relative;
  margin-right: -10000px;
  margin-top: 19px;
  left: 140px;
}

#u620 {
  z-index: 116;
  width: 35px;
  position: relative;
  margin-right: -10000px;
  margin-top: 19px;
  left: 190px;
}

#u623 {
  z-index: 114;
  width: 35px;
  position: relative;
  margin-right: -10000px;
  margin-top: 19px;
  left: 243px;
}

#page .verticalspacer {
  clear: both;
}
