<!DOCTYPE html>
<html class="html js">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>aboutus</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="./css/site_global.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="./css/index.css"
      id="pagesheet"
    />
  </head>
  <body>
    <div class="top">
      <div class="navbar">
        <a href="#" class="logo">Crop-Advisor</a>
        <ul>
          <li><a href="./index.html">Home</a></li>
          <li><a href="./crop.html">Crop-Recommnedation</a></li>
          <li><a href="./fert.html">Fertilizer-Recommnedation</a></li>
          <li><a href="./disease.html">Disease Detection</a></li>
          <li><a href="./about.html" style="color: rgba(199, 205, 21, 0.767);">About us</a></li>
        </ul>
      </div>
    </div>
    <br />

  
    <div class="clearfix" id="page">
      <!-- group -->
      <div class="clearfix grpelem" id="pu630">
        <!-- Sathish Details -->
        <div class="clearfix colelem" id="u630">
          <!-- column -->
          <div class="rounded-corners clearfix colelem" id="u344">
            <!-- column -->
            <div class="position_content" id="u344_position_content">
              <div class="rounded-corners clearfix colelem" id="u348">
                <!-- group -->
                <div class="rounded-corners clip_frame grpelem" id="u96">
                  <!-- image -->
                  <div class="clip_frame">
                    <img
                      class="block"
                      id="u96_img"
                      src="../images/team/pic1.png"
                      width="180"
                      height="180"
                    />
                  </div>
                </div>
              </div>
              <div class="Name clearfix colelem" id="u132-4">
                <!-- content -->
                <p>SATHISH ROUTHU</p>
              </div>
              <div class="Position clearfix colelem" id="u133-4">
                <!-- content -->
                <!-- <p>PRESIDENT &amp; CO-FOUNDER</p> -->
                <p><b>19341A1296</b></p>
              </div>

              <div class="Text-info clearfix colelem" id="u380-4">
                <!-- content -->
                <center>
                  <p>
                    Department of Information Technology<br />
                    GMR Institute of Technology<br />
                    Rajam, Srikakulam, AP
                  </p>
                </center>
              </div>
            </div>
          </div>
          <div class="rounded-corners clearfix colelem" id="u382">
            <!-- group -->
            <div class="clip_frame grpelem" id="u408">
              <!-- Gmail image -->
              <a href="mailto:sathishrouthu296@gmail.com">
                <img
                  class="block"
                  id="u408_img"
                  src="../images/social/gmail.png"
                  alt=""
                  width="35"
                  height="35"
                />
              </a>
            </div>
            <!-- Git Hub -->
            <div class="clip_frame grpelem" id="u403">
              <a href="https://github.com/sathishrouthu">
                <img
                  class="block"
                  id="u403_img"
                  src="../images/social/github.png"
                  alt=""
                  width="35"
                  height="35"
                />
              </a>
            </div>
            <!-- Instagram -->
            <div class="clip_frame grpelem" id="u398">
              <a href="https://www.instagram.com/sathish_routhu_/">
                <img
                  class="block"
                  id="u398_img"
                  src="../images/social/instagram.png"
                  alt=""
                  width="35"
                  height="35"
                />
              </a>
            </div>
            <!-- Twitter -->
            <div class="clip_frame grpelem" id="u392">
              <a href="https://twitter.com/Sathishviraj143">
                <img
                  class="block"
                  id="u392_img"
                  src="../images/social/twitter.png"
                  alt=""
                  width="35"
                  height="35"
                />
              </a>
            </div>
            <!-- LinkedIn -->
            <div class="clip_frame grpelem" id="u404">
              <a href="https://in.linkedin.com/in/sathish-routhu">
                <img
                  class="block"
                  id="u404_img"
                  src="../images/social/linkedin.png"
                  alt=""
                  width="35"
                  height="35"
                />
              </a>
            </div>
          </div>
        </div>

        <!-- Vyas Details-->
        <div class="clearfix colelem" id="u635">
          <!-- column -->
          <div class="rounded-corners clearfix colelem" id="u581">
            <!-- column -->
            <div class="position_content" id="u581_position_content">
              <div class="rounded-corners clearfix colelem" id="u628">
                <!-- group -->
                <div class="rounded-corners clip_frame grpelem" id="u102">
                  <!-- image -->
                  <div class="clip_frame">
                    <img
                      class="block"
                      id="u102_img"
                      src="../images/team/pic4.png"
                      alt=""
                      width="180"
                      height="180"
                    />
                  </div>
                </div>
              </div>
              <div class="Name clearfix colelem" id="u216-4">
                <!-- content -->
                <p>M VYAS KANMANI</p>
              </div>
              <div class="Position clearfix colelem" id="u215-4">
                <!-- content -->
                <p><b>19341A1268</b></p>
              </div>
              <div class="Text-info clearfix colelem" id="u582-4">
                <!-- content -->
                <center>
                  <p>
                    Department of Information Technology<br />
                    GMR Institute of Technology<br />
                    Rajam, Srikakulam, AP
                  </p>
                </center>
              </div>
            </div>
          </div>
          <div class="rounded-corners clearfix colelem" id="u583">
            <!-- group -->
            <!-- Gmail -->
            <div class="clip_frame grpelem" id="u587">
              <a href="mailto:vyaskanmani00777@gmail.com">
                <img
                  class="block"
                  id="u587_img"
                  src="../images/social/gmail.png"
                  alt=""
                  width="35"
                  height="35"
                />
              </a>
            </div>
            <div class="clip_frame grpelem" id="u599">
              <!-- image -->
              <a href="#"></a>
              <img
                class="block"
                id="u599_img"
                src="../images/social/github.png"
                alt=""
                width="35"
                height="35"
              />
            </div>
            <!-- instagram -->
            <div class="clip_frame grpelem" id="u596">
              <a href="https://www.instagram.com/vyaskanmani/">
                <img
                  class="block"
                  id="u596_img"
                  src="../images/social/instagram.png"
                  alt=""
                  width="35"
                  height="35"
                />
              </a>
            </div>
            <!-- twitter -->
            <div class="clip_frame grpelem" id="u593">
              <a href="https://twitter.com/Nano_Venom">
                <img
                  class="block"
                  id="u593_img"
                  src="../images/social/twitter.png"
                  alt=""
                  width="35"
                  height="35"
              /></a>
            </div>
            <!-- LinkedIn -->
            <div class="clip_frame grpelem" id="u404">
              <a href="https://www.linkedin.com/in/vyas-kanmani-528a44219/">
                <img
                  class="block"
                  id="u404_img"
                  src="../images/social/linkedin.png"
                  alt=""
                  width="35"
                  height="35"
                />
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Prem Chand Details-->
      <div class="clearfix grpelem" id="pu631">
        <!-- column -->
        <div class="clearfix colelem" id="u631">
          <!-- column -->
          <div class="rounded-corners clearfix colelem" id="u514">
            <!-- column -->
            <div class="position_content" id="u514_position_content">
              <div class="rounded-corners clearfix colelem" id="u515">
                <!-- group -->
                <div class="rounded-corners clip_frame grpelem" id="u122">
                  <!-- image -->
                  <div class="clip_frame">
                    <img
                      class="block"
                      id="u122_img"
                      src="../images/team/pic2.png"
                      alt=""
                      width="180"
                      height="180"
                    />
                  </div>
                </div>
              </div>
              <div class="rounded-corners Name clearfix colelem" id="u172-4">
                <!-- content -->
                <p>T PREM CHAND</p>
              </div>
              <div class="Position clearfix colelem" id="u170-4">
                <!-- content -->
                <p><b>19341A12B7</b></p>
              </div>
              <div class="Text-info clearfix colelem" id="u516-4">
                <!-- content -->
                <center>
                  <p>
                    Department of Information Technology<br />
                    GMR Institute of Technology<br />
                    Rajam, Srikakulam, AP
                  </p>
                </center>
              </div>
            </div>
          </div>
          <div class="rounded-corners clearfix colelem" id="u517">
            <!-- group -->
            <!-- Gamil -->
            <div class="clip_frame grpelem" id="u524">
              <a href="mailto:thulluru.premchand@gmail.com">
                <img
                  class="block"
                  id="u524_img"
                  src="../images/social/gmail.png"
                  alt=""
                  width="35"
                  height="35"
                />
              </a>
            </div>
            <!-- Github -->
            <div class="clip_frame grpelem" id="u527">
              <a href="https://github.com/Prem1098">
                <img
                  class="block"
                  id="u527_img"
                  src="../images/social/github.png"
                  alt=""
                  width="35"
                  height="35"
                />
              </a>
            </div>
            <!-- Instagram -->
            <div class="clip_frame grpelem" id="u518">
              <a href="https://www.instagram.com/thulluru_premchand/">
                <img
                  class="block"
                  id="u518_img"
                  src="../images/social/instagram.png"
                  alt=""
                  width="35"
                  height="35"
                />
              </a>
            </div>

            <!-- twitter -->
            <div class="clip_frame grpelem" id="u521">
              <a href="https://twitter.com/Prem_chand_1098">
                <img
                  class="block"
                  id="u521_img"
                  src="../images/social/twitter.png"
                  alt=""
                  width="35"
                  height="35"
                />
              </a>
            </div>
            <!-- LinkedIn -->
            <div class="clip_frame grpelem" id="u404">
              <a
                href="https://www.linkedin.com/in/thulluru-prem-chand-74b598195"
              >
                <img
                  class="block"
                  id="u404_img"
                  src="../images/social/linkedin.png"
                  alt=""
                  width="35"
                  height="35"
                />
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Prudhvi Details-->
      <div class="clearfix grpelem" id="pu632">
        <!-- column -->
        <div class="clearfix colelem" id="u632">
          <!-- column -->
          <div class="rounded-corners clearfix colelem" id="u477">
            <!-- column -->
            <div class="position_content" id="u477_position_content">
              <div class="rounded-corners clearfix colelem" id="u476">
                <!-- group -->
                <div class="rounded-corners clip_frame grpelem" id="u112">
                  <!-- image -->
                  <div class="clip_frame">
                    <img
                      class="block"
                      id="u112_img"
                      src="../images/team/pic3.png"
                      alt=""
                      width="180"
                      height="180"
                    />
                  </div>
                </div>
              </div>
              <div class="Name clearfix colelem" id="u156-4">
                <!-- content -->
                <p>G S RAM PRUDHVI</p>
              </div>
              <div class="Position clearfix colelem" id="u154-4">
                <!-- content -->
                <p><b>19341A1297</b></p>
              </div>
              <div class="Text-info clearfix colelem" id="u480-4">
                <!-- content -->
                <center>
                  <p>
                    Department of Information Technology<br />
                    GMR Institute of Technology<br />
                    Rajam, Srikakulam, AP
                  </p>
                </center>
              </div>
            </div>
          </div>
          <div class="rounded-corners clearfix colelem" id="u481">
            <!-- group -->
            <!-- Gmail-->
            <div class="clip_frame grpelem" id="u482">
              <a href="mailto:ramprudhvi1409@gmail.com">
                <img
                  class="block"
                  id="u482_img"
                  src="../images/social/gmail.png"
                  alt=""
                  width="35"
                  height="35"
                />
              </a>
            </div>
            <div class="clip_frame grpelem" id="u488">
              <!-- image -->
              <a href="#"></a>
              <img
                class="block"
                id="u488_img"
                src="../images/social/github.png"
                alt=""
                width="35"
                height="35"
              />
            </div>
            <div class="clip_frame grpelem" id="u485">
              <!-- image -->
              <a href="https://www.instagram.com/ramprudhvi_/?r=nametag">
                <img
                  class="block"
                  id="u485_img"
                  src="../images/social/instagram.png"
                  alt=""
                  width="35"
                  height="35"
                />
              </a>
            </div>
            <!-- Twitter -->
            <div class="clip_frame grpelem" id="u491">
              <a href="https://mobile.twitter.com/RamPrudhvi4">
                <img
                  class="block"
                  id="u491_img"
                  src="../images/social/twitter.png"
                  alt=""
                  width="35"
                  height="35"
                />
              </a>
            </div>
            <!-- LinkedIn -->
            <div class="clip_frame grpelem" id="u404">
              <a
                href="https://www.linkedin.com/in/sai-ram-prudhvi-gummaluri-45226b232/"
              >
                <img
                  class="block"
                  id="u404_img"
                  src="../images/social/linkedin.png"
                  alt=""
                  width="35"
                  height="35"
                />
              </a>
            </div>
          </div>
        </div>

        <!-- Daniya mam Details-->
        <div class="clearfix colelem" id="u633">
          <!-- column -->
          <div class="rounded-corners clearfix colelem" id="u612">
            <!-- column -->
            <div class="position_content" id="u612_position_content">
              <div class="rounded-corners clearfix colelem" id="u626">
                <!-- group -->
                <div class="rounded-corners clip_frame grpelem" id="u117">
                  <!-- image -->
                  <div class="clip_frame">
                    <img
                      class="block"
                      id="u117_img"
                      src="../images/team/pic5.png"
                      alt=""
                      width="180"
                      height="180"
                    />
                  </div>
                </div>
              </div>
              <div class="Name clearfix colelem" id="u230-4">
                <!-- content -->
                <p>T DANIYA</p>
              </div>
              <div class="Position clearfix colelem" id="u232-4">
                <!-- content -->
                <p><b>PROJECT SUPERVISOR</b></p>
              </div>
              <div class="Text-info clearfix colelem" id="u616-4">
                <!-- content -->
                <center>
                  <p>
                    Department of Information Technology<br />
                    GMR Institute of Technology<br />
                    Rajam, Srikakulam, AP
                  </p>
                </center>
              </div>
            </div>
          </div>
          <div class="rounded-corners clearfix colelem" id="u611">
            <!-- group -->
            <!-- Gmail -->
            <div class="clip_frame grpelem" id="u613">
              <a href="mailto:daniya.t@gmrit.edu.in">
                <img
                  class="block"
                  id="u613_img"
                  src="../images/social/gmail.png"
                  alt=""
                  width="35"
                  height="35"
                />
              </a>
            </div>
            <div class="clip_frame grpelem" id="u617">
              <!-- image -->
              <a href="#"></a>
              <img
                class="block"
                id="u617_img"
                src="../images/social/github.png"
                alt=""
                width="35"
                height="35"
              />
            </div>
            <div class="clip_frame grpelem" id="u620">
              <!-- image -->
              <a href="#"></a>
              <img
                class="block"
                id="u620_img"
                src="../images/social/instagram.png"
                alt=""
                width="35"
                height="35"
              />
            </div>
            <div class="clip_frame grpelem" id="u623">
              <!-- image -->
              <a href="#"></a>
              <img
                class="block"
                id="u623_img"
                src="../images/social/twitter.png"
                alt=""
                width="35"
                height="35"
              />
            </div>
            <!-- LinkedIn -->
            <div class="clip_frame grpelem" id="u404">
              <a href="https://www.linkedin.com/in/daniya-cristin-8166b91a7/">
                <img
                  class="block"
                  id="u404_img"
                  src="../images/social/linkedin.png"
                  alt=""
                  width="35"
                  height="35"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="verticalspacer" style="min-height: 1px"></div>
    </div>
  </body>
</html>
