<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Crop-Recommendation</title>
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="index.js"></script>
  </head>
  <body>
    <div class="top">
      <div class="navbar">
        <a href="#" class="logo">Crop-Advisor</a>
        <ul>
          <li><a href="./index.html" onclick="openTab('Home')"onclick="openTab('Home')">Home</a></li>
          <li><a href="./crop.html" style="color:rgba(199, 205, 21, 0.767);" onclick="openTab('Crop-Recommnedation')">Crop-Recommnedation</a></li>
          <li><a href="./fert.html" onclick="openTab('Fertilizer-Recommnedation')">Fertilizer-Recommnedation</a></li>
          <li><a href="./disease.html" onclick="openTab('Disease Detection')">Disease Detection</a></li>
          <li><a href="./about.html" onclick="openTab('About us')">About us</a></li>
        </ul>
      </div>
    </div>
    <br />

    <div class="content">
      <div id="formcard" class="form-card">
        <h2 class="form-title">Fill the values :</h2>
        <form class="form" method="post">
          <div class="form-group">
            <input
              type="text"
              id="uiN"
              class="form-control"
              name="Nitrogen"
              placeholder="Nitrogen"
            />
            <label for="Nitrogen" class="form-label">Nitrogen</label>
          </div>
          <div class="form-group">
            <input
              type="text"
              id="uiK"
              class="form-control"
              name="Potassium"
              placeholder="a"
            />
            <label for="Potassium" class="form-label">Potassium</label>
          </div>
          <div class="form-group">
            <input
              type="text"
              id="uiP"
              class="form-control"
              name="Phosporous"
              placeholder="a"
            />
            <label for="Phosporus" class="form-label">Phosporus</label>
          </div>
          <div class="form-group">
            <input
              type="text"
              id="uiTemperature"
              name="Temperature"
              class="form-control"
              placeholder="a"
            />
            <label for="Temperature" class="form-label">Temperature</label>
          </div>
          <div class="form-group">
            <input
              type="text"
              id="uiHumidity"
              name="Humidity"
              class="form-control"
              placeholder="a"
            />
            <label for="Humidity" class="form-label">Humidity</label>
          </div>
          <div class="form-group">
            <input
              type="text"
              id="uipH"
              name="pH"
              class="form-control"
              placeholder="a"
            />
            <label for="pH" class="form-label">pH Value</label>
          </div>
          <div class="form-group">
            <input
              type="text"
              id="uiRainfall"
              name="RainFall"
              class="form-control"
              placeholder="a"
            />
            <label for="RainFall" class="form-label">RainFall</label>
          </div>
        </form>
        <button onclick="onClickedPredictCrop()" class=".button">
          Predict
        </button>
      </div>
      <div id="resultcard" class="result">
        <h1 id="uiPredictedCrop">Crop Recommendation</h1>
        <div class="result_image">
          <img
            id="uiCropImage"
            src="./images/croprecommend3.png"
            alt="Result_Image.jpg"
          />
        </div>
        <div id="uiCropDesc" class="result_desc">
          <p>
            Here Crop is recommended based on the following Soil and Environmental factors
            <pre>
              N - ratio of Nitrogen content in soil
              P - ratio of Phosphorous content in soil
              K - ratio of Potassium content in soil
              temperature - temperature in degree Celsius
              humidity - relative humidity in %
              ph - ph value of the soil
              rainfall - rainfall in mm
            </pre>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
