<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Disease-Detection</title>
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="index.js"></script>
  </head>
  <body>
    <div class="top">
      <div class="navbar">
        <a href="#" class="logo">Crop-Advisor</a>
        <ul>
          <li><a href="./index.html">Home</a></li>
          <li><a href="./crop.html">Crop-Recommnedation</a></li>
          <li><a href="./fert.html">Fertilizer-Recommnedation</a></li>
          <li><a href="./disease.html" style="color: rgba(199, 205, 21, 0.767);">Disease Detection</a></li>
          <li><a href="./about.html">About us</a></li>
        </ul>
      </div>
    </div>
    <br />
    <div class="content">
      <script
        class="jsbin"
        src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"
      ></script>
      <div class="disease-form-card file-upload">
        <h3>Please Upload Image of a Rice plant :</h3>
        <div class="image-upload-wrap">
          <input
            id="input_image"
            class="file-upload-input"
            type="file"
            onchange="readURL(this);"
            accept="image/*"
          />
          <div class="drag-text">
            <h3>Drag and drop a file or select an Image here</h3>
          </div>
        </div>
        <div class="file-upload-content">
          <img class="file-upload-image" src="#" alt="your image" />
          <div class="image-title-wrap">
            <button
              type="button"
              onclick="removeUpload()"
              class="btn remove-button"
            >
              Clear
            </button>
            <button
              type="button"
              onclick="onClickPredictDisease()"
              class="btn predict-button"
            >
              Predict
            </button>
          </div>
        </div>
      </div>
      <div id="disease-resultcard" class="result" style="overflow-y: auto;">
        <h1 id="uiPredictedDisease">Paddy Disease Detection and Solution</h1>
        <div id="uiSolutionContent" class="result_desc" >
          <p>
            The following types of rice crop diseases are forecasted here based on Image Input. The cause of the disease, precautions to take, and a possible cure are offered here according on the class of disease that was predicted.
          
          <pre>
            •	Bacterial Leaf Blight
            •	Bacterial Leaf Streak
            •	Bacterial Panicle Blight
            •	Blast
            •	Brown Spot
            •	Dead Heart
            •	Downy Mildew
            •	Hispa
            •	Tungro
          </pre>
        </p>
        </div>
      </div>
    </div>
  </body>
</html>
