<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crop Advisor</title>
    <link rel="stylesheet" href="css/style2.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="top">
      <div class="navbar">
        <a href="#" class="logo">Crop-Advisor</a>
        <ul>
          <li><a href="./index.html" style="color: rgba(199, 205, 21, 0.767); ">Home</a></li>
          <li><a href="./crop.html">Crop-Recommnedation</a></li>
          <li><a href="./fert.html">Fertilizer-Recommnedation</a></li>
          <li><a href="./disease.html">Disease Detection</a></li>
          <li><a href="./about.html">About us</a></li>
        </ul>
      </div>
      <div class="content">
        <h1>Crop-Advisor</h1>
        <p>
          A project that helps farmers to make decisions on time for cultivating
          a crop and usage of a fertilizer that gives more yield based on soil
          and environmental conditions <br />
          Know what disease has been caught by paddy crop and get an advice of
          how to cure the Disease
        </p>
        <div>
          <button>
            <span></span>
            <a class="mylink" href="crop.html"> Crop-Recommender </a>
          </button>
          <button>
            <span></span>
            <a class="mylink" href="fert.html"> Fertilizer-Recommender </a>
          </button>
          <button>
            <span></span>
            <a class="mylink" href="disease.html"> Paddy Disease Detection</a>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
