<!DOCTYPE html>
<html>
    <head>
        
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Crop Advisor</title>
        <link rel="stylesheet" href="css/style.css">

    </head>
    <body>
        <div class="top">
            <div class="navbar">
                <a href="#" class="logo">Crop-Advisor</a>
                <ul>
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./crop.html">Crop-Recommnedation</a></li>
                    <li><a href="./fert.html">Fertilizer-Recommnedation</a></li>
                    <li><a href="./disease.html">Disease Detection</a></li>
                    <li><a href="./about">About us</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>